.head-box{
    width:100vw;
    height:10%;
    background-color:gray;
    display:flex;
    flex-direction:row;
    color: orange;
}

.miner-types-btn{
    border:3px solid white;
    border-radius:10px 10px;
}

.QnA-btn{
    border:3px solid white;
    border-radius:10px 10px;
}

.support-btn{
    border:3px solid white;
    border-radius:10px 10px;
}

.body {
    background: lightblue;
}

.table {
    width: 100vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    background: orange;
    color: white;
}

.card>p {
    text-align: center;
}

.go-into {
    text-align: center;
}
